sudo: false
language: python
python:
- '3.6'
script: true
branches:
  only:
  - master
  - "/^\\d+(\\.\\d+)*$/"
matrix:
  fast_finish: true
deploy:
  provider: pypi
  user: ryanhiebert-auto
  password:
    secure: bRbLOOfykUfoFbKlVc5Zoe97sTfVvMZU+JdK+hp/hnQQswqjFAHn+hW+r7orPBZUxQDdEDtDR/38d3j19XRgxB2biB6vv18jBKeI/HzAfkZt274IouDgvSNdCQNJ+d8EKR6SGuHIYpfEMwLWyLPQiMk7LcpleQ2VJNb8/74mOas=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 3.6
